* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: var(--body);
  background-color: var(--BackgroundColor);
}
:root {
  /* Colors */
  /* Primary */
  --Red: hsl(0, 78%, 62%);
  --lightBlue: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --DarkBlue: hsl(212, 86%, 64%);
  /* Neutral */
  --textsColor: hsl(234, 12%, 34%);
  /* --Grayish-Blue: hsl(229, 6%, 66%); */
  --ShadowColor: hsl(229, 6%, 66%);
  --BackgroundColor: hsl(0, 0%, 98%);
  --cardBackgroundColor: hsl(0, 0%, 100%);
  /* --------- */

  /* Typography */

  /* --body: 15px; */
  --body: 0.938rem;
  --lightFWeight: 200;
  --normalFWeight: 400;
  --semiBoldFWeight: 600;

  /* Heading */
  /* --headingTitleSize: 36px; */
  --headingTitleSize: 2.25rem;
  /* --headingTitleLetterSpace: 0.25px; */
  --headingTitleLetterSpace: 0.016rem;
  /* --headingParagraphLineHeight: 25px; */
  --headingParagraphLineHeight: 1.56rem;
  /* --headingParagraphLetterSpacing: 0.1px; */
  --headingParagraphLetterSpacing: 0.006rem;
  /* --headingMargin: 65px; */
  --headingMargin: 4rem;

  /* Cards */
  /* --cardTitleSize: 20px;
  --cardBodySize: 13px;
  --cardBodyLineHeight: 23px;
  --cardBodyLetterSpacing: 0, 09px;
  --cardMaxWidth: 350px;
  --cardMaxHeight: 250px; */
  --cardTitleSize: 1.25rem;
  --cardBodySize: 0.81rem;
  --cardBodyLineHeight: 1.43rem;
  --cardBodyLetterSpacing: 0.006rem;
  --cardMaxWidth: 21.87rem;
  --cardMaxHeight: 15.62rem;
  --cardsGap: 1.87rem;

  /* ----------- */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1110px; */
}

/* Start Heading */
h1 {
  font-size: var(--headingTitleSize);
  letter-spacing: var(--headingTitleLetterSpace);
  color: var(--textsColor);
}
.headingParagraph {
  color: var(--textsColor);
  font-size: var(--body);
  line-height: var(--headingParagraphLineHeight);
  letter-spacing: var(--headingParagraphLetterSpacing);
  text-align: center;
  height: auto;
  /* max-width: 540px; */
  max-width: 33.75rem;
  font-weight: 400;
  opacity: 50%;
  margin-bottom: 0;
  margin-top: 0;
  /* margin-bottom: 65px; */
}
/* End Heading */

/* start Cards */
h2 {
  font-size: var(--cardTitleSize);
  font-weight: var(--semiBoldFWeight);
  /* margin-bottom: 6px; */
  margin-bottom: 0.37rem;
}
.cardText {
  font-size: var(--cardBodySize);
  line-height: var(--cardBodyLineHeight);
  letter-spacing: var(--cardBodyLetterSpacing);
}
/* End cards */
