.cardsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--cardsGap);
  max-width: 69.375rem;
}
.subBox {
  display: flex;
  flex-direction: column;
  gap: var(--cardsGap);
  /* align-items: stretch; */
}
.cardsSection article {
  background-color: var(--cardBackgroundColor);
  /* background-color: yellow; */
  box-shadow: 0px 0.9375rem 1.875rem -0.6875rem var(--ShadowColor);
  border-radius: 0.5rem;
  width: var(--cardMaxWidth);
  height: var(--cardMaxHeight);
  border-top: 0.25rem solid transparent;
}
.cardsSection article h2 {
  padding-top: 2rem;
  padding-left: 2rem;
}
.cardsSection article p {
  padding-left: 2rem;
  max-width: 17.875rem;
}
.cardsSection article img {
  padding-left: 15.875rem;
  padding-bottom: calc(100% - 9.625rem);
}
.cardsSection .card1 {
  border-top-color: var(--lightBlue);
}
.cardsSection .card2 {
  border-top-color: var(--Red);
}
.cardsSection .card3 {
  border-top-color: var(--Orange);
}
.cardsSection .card4 {
  border-top-color: var(--DarkBlue);
}
