/* Start Heading */
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: var(--headingMargin);
}
.headingTitles {
  padding-bottom: 10px;
}
.firstH1 {
  font-weight: var(--lightFWeight);
  text-align: left;
  margin: 0;
  padding: 0;
}
.secondH1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: var(--semiBoldFWeight);
}
/* End Heading */

/* Start Cards */
.cardsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1110px;
}
.subBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: stretch;
}
.cardsSection article {
  /* background-color: var(--cardBackgroundColor); */
  background-color: yellow;
  max-width: var(--cardMaxWidth);
  height: var(--cardMaxHeight);
}
.cardsSection article h2 {
  padding-top: 32px;
  padding-left: 32px;
}
.cardsSection article p {
  padding-left: 32px;
}

/* End Cards */
